@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: #eee;
    min-height: 100vh;
    gap:15px;
    padding-bottom: 80px;
}
.container .content{
    flex:1 1 400px;

}
.container .image{
    flex:1 1 400px;

}
.container .image img{
    width: 100%;
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color:purple;
}
.container .content p{
    color: black;
    padding: 5px 0;
}
.container .content .count-down{
    display : flex;
    gap : 15px;
    padding: 10px 0;
}
.container .content .count-down .box{
    padding:15px;
    background:#fff;
    border: 1px solid #3333;
    text-align: center;
    flex:1 1 20px;
}

.container .content .count-down .box h3{
    font-size: 50px;
    color : #333;
}
.container .content .count-down .box span{
    color: blue
}
.container .content .btn {
    text-align: center;
    display:  inline-block;
    padding : 8px 50px;
    margin : 10px 0px;
    font-size: 17px;
    background: blue;
    color : #fff;
    transition: .2s ease-out;
}
.container .content .btn:hover{
    letter-spacing: 2px;
}

@media(max-width:500px){
    .content{
        padding:20px;
    }
    .container .content{
        text-align: center;
    }
}